/* #region - Overwrite Standard */
header{
    background: var(--peach-gradiant);
    .logo{
        width: 10rem;
    }
    div.wrapper{
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        h1{
            font-size: 1.5rem;
            font-weight: 400;
            font-family: 'Inter Semibold';
        }
        div.navBar{
            img{
                filter: brightness(0) invert(1);
            }
        }
    }
}
#content{
    width: calc(100% - 22rem);
}
main{
    div.wrapper{
        gap: 1rem;
        padding: 0 1rem;
    }
}

footer{
    height: 3rem;
    border: 0;
    background: var(--grey);
    div.wrapper{
        padding: 1rem;
        display: flex;
        ul{
            display: flex;
            flex-direction: row;
            gap: 2rem;
            li{
                a{
                    color: var(--white);
                    text-decoration: underline;
                }
            }
        }
    }
}
/* #endregion */

/* #region - Local Styles */
#local{
    background-image: url("./assets/img/pizzeria.jpg");
    min-height: 18rem;
    background-position: 0% 30%;
    display: flex;
    justify-content: start;
    align-items: end;
    position: relative;
    .localLogo{
        bottom: 1rem;
        left: 1rem;
        position: absolute;
        img{
            border: .25rem solid var(--white);
            width: 9rem;
            border-radius: 100%;
        }
    }
    div.localInformation{
        background-color: rgba(255, 255, 255, 0.85);
        padding: 1rem 3rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        padding-left: 11rem;
        .localName{
            font-weight: bold;
            font-size: 1.4rem;
            color: var(--peach-orange);
        }
        .localRating{
            line-height: 1.4rem;
            text-decoration: underline;
            margin-bottom: 0.2rem;
            display: flex;
            img{
                margin-right: 0.5rem;
            }
        }

        .localAddress,
        .deliveryMov,
        .deliveryCost{
            font-size: 0.9rem;
            display: flex;
            color: var(--blue-dark);
            line-height: 1.4rem;
            img{
                margin-right: 0.5rem;
            }
        }
    }
}
/* #endregion */

/* #region - Menu Area */
#menuArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:  1rem;
    .menuCategory{
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        flex-wrap: wrap;
        li{
            button{
                padding: 0.3rem 1rem;
                margin-right: 0.5rem;
                background-color: var(--white);
                color: var(--peach-orange);
                border-radius: var(--b_rad);
                border: 2px solid var(--peach-orange);
                cursor: pointer;
                -webkit-transition: all .18s ease-out;
                transition: all .18s ease-out;
                &:hover{
                    background-color: var(--peach-orange);
                    color: var(--white);
                }
            }
        }
    }
    #menuItems{
        .menuItem{
            display: flex;
            flex-direction: column;
            width: 100%;
            background: var(--white);
            border: 1px solid var(--grey-light);
            margin: 1rem 0;
            padding: 1rem;
            border-radius: var(--b_rad);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
            h3{
                color: var(--peach-orange);
                font-weight: 600;
            }
            .menuInformation{
                .menuDetails{
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    justify-content: start;
                    align-items: center;
                }
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 1rem;

                div.menuImg img{
                    width: 9rem;
                }
                div.interactive{
                    display: flex;
                    align-items: center;
                    button{
                        padding: 1rem;
                        cursor: pointer;
                        background-color: var(--peach-orange);
                        color: var(--white);
                        border-radius: var(--b_rad);
                        white-space: nowrap;
                        -webkit-transition: all .18s ease-out;
                        transition: all .18s ease-out;
                        &:hover{
                            background-color: var(--peach-orange-red);
                        }
                    }
                }
            }
        }
    }
}
/* #endregion */

/* #region - Cart Styles */
#cart{
    #mobileCartButton{
        display:none;
    }
    div.cartInner{
        position: sticky;
        top: 0;
        width: 100%;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    border-left: 1px solid var(--grey-light);
    padding: 1rem;
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    *{
        color: var(--black);
    }
    h2{
        font-family: 'Inter Semibold';
        text-align: center;
    }
    article.cartItem{
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        h3{
            font-size: 1rem;
            text-decoration: underline;
        }
        div.cartDetails{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            div.qty{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                background: var(--grey-light);
                border-radius: var(--b_rad);
                padding: 0.1rem;
                width: auto;
                button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    padding: 0.5rem;
                    background: var(--white);
                    border-radius: var(--b_rad);
                    cursor: pointer;
                }
            }
            div.priceInter{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                .price{
                    font-family: 'Inter Semibold';
                }
                button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    padding: 0.5rem;
                    background: var(--grey-light);
                    border-radius: var(--b_rad);
                    cursor: pointer;
                }
            }
        }
    }
    #cartBottom{
        border-top: 1px solid var(--grey-light);
        div.cartDetails{
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            span.subTotalRef,
            span.serviceFee{
                display: flex;
                justify-content: space-between;
            }
        }
        div.cartTotal{
            padding: 1rem 0;
            padding: 0.5rem;
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            #subTotal{
                font-weight: 600;
            }
        }
        button#cartTotal{
            font-size: 1.25rem;
            margin-top: 1rem;
            padding: 1rem;
            font-weight: bold;
            color: var(--white);
            background-color: var(--peach-orange);
            border-radius: var(--b_rad);
            width: 100%;
            cursor: pointer;
            transition: all .18s ease-out;
            &:hover{
                background-color: var(--peach-orange-red);
            }
        }
    }
    span.emptyBasket{
        display:none;
    }
    &.empty{
        span.emptyBasket{
            display:flex;
            justify-content: center;
            align-items: center;
            img{
                width: 7rem;
                filter: brightness(0) invert(0.90);
                margin: 2rem 0;
            }
        }
        #cartBottom{
            border-top: 0;
        }
    }
}
/* #endregion */

/* #region - Dialog */
#afterOrderMessage{
    position: relative;
    border: 0;
    padding: 1rem;
    margin-left: calc(50% - 450px);
    margin-top: 25%;
    border-radius: var(--b_rad);
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    button{
        text-align: right;
        cursor: pointer;
    }
    h3{
        color: var(--peach-orange);
        font-size: 1.4rem;
        font-weight: 600;
    }
    &::backdrop{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    &:not([open]) {
        display: none;
    }
}
/* #endregion */

/* #region - Media Queries */
/* calculated with em (base 16px) */
/* Large devices (tablets, 768px - 1040px) */
@media only screen and (max-width: 65em){
    main{
        div.wrapper{
            flex-direction: column;
            padding: 0;
            #content{
                width: 100%;
                ul.menuCategory,
                #menuItems{
                    padding: 0 1rem;
                }
            }
        }
    }
    #cart{
        padding: 0;
        display: flex;
        flex-direction: row;
        position: fixed;
        border: 0;
        top: 8rem;
        right:-18rem;
        transition: all .18s ease-out;
        border-top-left-radius: var(--b_rad);
        border-top-right-radius: var(--b_rad);
        max-height: 75%;
        #mobileCartButton{
            position: relative;
            display: flex;
            flex-direction: column;
            height: 4rem;
            background-color: var(--peach-orange);
            padding: 1rem;
            border-top-left-radius: var(--b_rad);
            border-bottom-left-radius: var(--b_rad);
            transition: all .18s ease-out;
            cursor: pointer;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
            img{
                width: 2rem;
                filter: brightness(0) invert(1);
            }
            &:hover{
                background-color: var(--peach-orange-red);
            }
            #cartItemCounter{
                position: absolute;
                justify-content: center;
                align-items: center;
                display: flex;
                padding: 0.35rem;
                background: white;
                border-radius: 100%;
                color: var(--blue-dark);
                font-weight: 800;
                font-size: 0.8rem;
                top:-1rem;
                width: 2rem;
                height:2rem;
                left: -1rem;
                line-height: 1rem;
                border: 1px solid #eeeeee;
                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
            }
        }
        div.cartInner{
            padding: 0 1rem 1rem;
            background-color: var(--white);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
            border-bottom-left-radius: var(--b_rad);
            h2{
                margin-top: 1rem;
            }
            #basket{
                max-height: 75%;
                overflow-y: scroll;
            }
        }
        &.empty{
            span.emptyBasket{
                display:none;
            }
            #cartBottom{
                border: 0;
            }
            #mobileCartButton{
                background-color: var(--blue-dark);
                #cartItemCounter{
                    display: none;;
                }
            }
            div.cartInner{
                border-bottom-left-radius: 0;
                padding-bottom: 0;
                h2{
                    margin: 1rem 0;
                }
            }
        }
        &.active{
            right:0;
            #mobileCartButton{
                background-color: var(--peach-orange);
            }
        }
    }
    #afterOrderMessage{
        margin-left: 10%;
        max-width: 80%;
    }
}

/* Medium devices (mobile, 768px and down) */
@media only screen and (max-width: 48rem) {
    header{
        div.wrapper{
            justify-content: center;
        }
        h1,
        div.navBar{
            display: none;
        }
    }
    main{
        div.wrapper{
            flex-direction: column;
        }
    }
    #content{
        width: 100%;
    }
    #menuArea {
        #menuItems {
            .menuItem{
                .menuInformation{
                    flex-direction: column;
                    div.interactive{
                        button{
                            width: 100%;;
                        }
                    }
                }
            }
        }
    }
}

/* Small devices (mobile, 400px and down) */
@media only screen and (max-width: 25rem) {
    #local{
        flex-direction: column;
        justify-content: end;
        div.localLogo{
            top: 0.5rem;
        }
        div.localInformation{
            padding:1rem;
            width: 100%;
        }
    }
    #content{
        width: 100%;
    }
    #cart{
        width: 95%;
        right: -15rem;

        article.cartItem{
            div.cartDetails{
                div.qty{
                    gap: 0.5rem;
                }
            }
        }
    }
    #menuArea {
        #menuItems {
            .menuItem{
                .menuInformation{
                    div.menuImg{
                        display: none;
                    }
                }
            }
        }
    }
    #afterOrderMessage{
        margin-left: 10%;
        max-width: 80%;
    }
}
/* #endregion */